body{
    overflow-x: hidden;
}
.header-menu{
    position: relative;
    height: 1012px;
    max-width: 1920px;
    margin: auto;
    background-image:url(../images/img/foto1.jpg);
}
.wrapper{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Секция меню theHam*/
.logo-menu{
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.logo-menu .theham-logo{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
   display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-left: 380px;
    margin-right: auto;
    margin-top: -13px;
}
.logo-menu .color{
    color: #18CFAB;
}
.logo-menu ul{
    display: flex;
    margin-right: 380px;
    margin-left: auto;
    padding-left: 305px;
}
.logo-menu .item-menu{
    min-width: 51px;
    height: 22px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-right: 21px;
}
.logo-menu .item-menu:hover{
    color: #18CFAB;
    border-bottom: 2px solid #18CFAB;
    transform: matrix(1, 0, 0, -1, 0, 0);
    padding-bottom:49px ;
}
.wordpress{
    position: relative;
    text-align: center;
}
.text-wordpress{
    padding-top: 264px;
    margin: auto;
}
.text-wordpress h2{
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 1;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.text-wordpress .color{
    color: #18CFAB;
}
.text-wordpress h3{

    height: 80px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 1;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.text-wordpress p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 1;
    color: #D4D4D4;
    margin-bottom: 22px;
}

/*Кнопки*/
.button {
    margin-top: 134px;
}
.button .btnEXPLORE{
    background: #18CFAB;
    width: 169px;
    height: 63px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 -4px #FFFFFF;
}
.button .btnEXPLORE:hover{
     background-color: #18CFAB;
}
.button .btnEXPLORE:active{
    background-color: #18CFAB;
    box-shadow: 0 0 #FFFFFF;
    transform: translateY(-5px);
}
.button .btnpurchase{
    background: #00CBF6;
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 -4px #FFFFFF;
}
.button .btnpurchase:hover{
    background-color: #00CBF6;
}
.button .btnpurchase:active{
    background-color: #00CBF6;
    box-shadow: 0 0 #FFFFFF;
    transform: translateY(-5px);
}
.button .btnEXPLORE p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.button .btnpurchase p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*Грид контейнер разных цветов*/
.grid-container{
    position: relative;
    width: 100%;
    margin: auto;
}
.grid-container .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1920px;
    margin: auto;
}

.grid .grid-item{
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    text-transform: uppercase;
    margin-top: 10px;
}
.grid .grid-item p{
    margin-top: 47px;
}
.grid-container .grid-item1{
    height: 377px;
    background: #1C2A33;
    color: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.grid-container .grid-item2{

     height: 377px;
     background: #18CFAB;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}.grid-container .grid-item3{
    height: 377px;
    background: #1C2A33;
     font-family: 'Montserrat', sans-serif;
     font-style: normal;
     font-weight: 700;
     font-size: 20px;
     line-height: 24px;
     color: #18CFAB;
}.grid-container .grid-item4{

       height: 377px;
       background: #18CFAB;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      color: #FFFFFF;
}

/*Секция EVERYTHING IS READY. JUST BUY AND INSTALL NOW*/
.everything{
    position: relative;
    height: 476px;
    max-width: 1920px;
    margin: auto;
    background-image:url(../images/img/foto2.png);
}
.everything .text-ever{
    padding-top: 126px;
    text-align: center;
    padding-bottom: 12px;
}
.everything .text-ever h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #18CFAB;
}
.everything .text-ever h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #D8D8D8;
}
/*кнопка*/
.everything .text-ever .btnpurchase{
    margin-top: 67px;
    background: #18CFAB;;
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 0 -4px #FFFFFF;
    text-transform: uppercase;
    color: #FFFFFF;
}
.text-ever .btnpurchase:hover{
    background-color: #18CFAB;;
}
.text-ever .btnpurchase:active{
    background-color: #18CFAB;;
    box-shadow: 0 0 #FFFFFF;
    transform: translateY(-5px);
}


/*секция секция Our Services*/
.our-services {
   position: relative;
    margin: auto;
}
.our-services .our-section h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    height: 40px;
    text-align: center;
    margin-top: 83px;
    margin-bottom: 26px;
}
.our-section .shape1{
    width: 80px;
    height: 1px;
    margin:auto;
    background: #18CFAB;
}
.our-section .shape1:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -5px;
    left: 10px;
    width: 76px;
    height: 1px;
    vertical-align: middle;
    background: #18CFAB;
}
.our-section .button{
    display: flex;
    justify-content: center;
    margin-top: 74px;
}
.our-section .item-slide{
    display: flex;
    width: 192px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.our-section .item-slide {
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
}
.item-slide:hover{
    border: 2px solid #18CFAB;
}
.item-slide:focus{
    position: relative;
    content: "";
    background-color: #18cfab;
    color: #ffffff;
    border: 1px solid #edefef;
}

.item-slide:focus:before {
    position: absolute;
    content: "";
    background-color: #18cfab;
    width: 20px;
    height: 20px;
    top: 60px;
    left: 84px;
    transform: rotate(45deg);
}

.tabs-box .tabs__item{
    display: none;
    margin: auto;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 91px;
}
.tabs-box .tabs__item.active {
display: flex;
}

.tabs-box .tabs__item img{
    width: 192px;
    height: 139px;
    padding-right: 15px;
}
.tabs-box .tabs__item p{
    width: 952px;
    height: 136px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #777777;
}

















/*секция Our Amazing Work*/
.section-work{
    padding-top: 83px;
    padding-bottom: 10px;
    position: relative;
    max-width: 1920px;
    min-height:450px;
    margin: auto;
    background-color: #E9EDEF;
    overflow: hidden;
}
.work{
    text-align: center;

}
.section-work .work h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    height: 40px;
    text-align: center;
padding-bottom: 20px;
}
.work .shape1{
    width: 80px;
    height: 1px;
    margin:auto;
    background: #18CFAB;
}
.work .shape1:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -5px;
    left: 10px;
    width: 76px;
    height: 1px;
    vertical-align: middle;
    background: #18CFAB;
}
.work .shape2{
    width: 78px;
    height: 4px;
    background: #18CFAB;
    margin: auto;
}
.work ul{
    display: flex;
    justify-content: center;
    margin-top: 74px;
}
.work .item_slid{
    display: flex;
    width: 192px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.work .item_slid {
    color: #717171;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
}
.item_slid:hover{
    border: 2px solid #18CFAB;
}
.work .grid-foto{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1140px;
    margin: auto;
    padding-top: 71px;
    padding-bottom: 83px;
}

.work .grid-foto img{
    width: 285px;
    height: 211px;
}
.work .grid-foto .grid_item-foto{
position: relative;
}
.grid-foto .grid_item-foto:hover .imag-description {
    display: flex;
}

.imag-description {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 36px;
    background-color: #fff;
    border-top: 2px solid #18CFAB;;
    box-sizing: border-box;
}
.grid-foto .imag-description img{
    width: 88px;
    height: 43px;
    margin-bottom: 24px;
}
.grid-foto .imag-description .title{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #18CFAB;
    text-transform: uppercase;
}
.grid-foto .imag-description .desc {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
}
/*кнопка */



.work .btnl{
    display: inline-block;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    margin-bottom: 63px;
}

.gallery_buttons {
    background-image: url("data:image/svg+xml, %3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='40px' height='40px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E%3Cpath opacity='0.2' fill='%23000' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946 s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634 c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E%3Cpath fill='%23F48E0B' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0 C22.32,8.481,24.301,9.057,26.013,10.047z'%3E%3CanimateTransform attributeType='xml' attributeName='transform' type='rotate' from='0 20 20' to='360 20 20' dur='0.5s' repeatCount='indefinite'/%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    color: transparent!important;
}

/*секция Breaking News*/

.breaking{
    max-width: 1920px;
    height: 876px;
    margin: auto;
}
.breaking h2 {
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin-top: 82px;
    text-align: center;
    margin-bottom: 25px;
}
.breaking .shape1{
    width: 80px;
    height: 1px;
    margin:auto;
    background: #18CFAB;
}
.breaking .shape1:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -5px;
    left: 10px;
    width: 76px;
    height: 1px;
    vertical-align: middle;
    background: #18CFAB;
}
.breaking .section-breaking {
    width: 1160px;
    height: 600px;
    margin: auto;
    padding-top: 73px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 35px;
    grid-row-gap: 43px;
}
.breaking .section-breaking h2{
    width: 147px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin: auto;
}
.breaking .grid-item{
    position: relative;
    width: 263px;
    height: 208px;
}
.breaking .grid-item .grid-photo{
     width: 263px;
     height: 208px;
 }
.breaking .grid-item .image-description{
    position: absolute;
    width: 70px;
    height: 68px;
    background: #203E38;
   text-align: center;
    top: 0;
    right: 0;
}
.breaking .image-description .text-hidden{
    color:#FFFFFF;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.grid-item:hover .image-description{
   background-color: #18CFAB;
}
.grid-item:hover .text-name {
    color: #18CFAB;
}
.breaking .image-description .text-hidden .number {
padding-top: 9px;
}
.breaking .text-name{
    display: flex;
    color: #717171;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 39px;
    width: 180px;
    height: 30px;
}
.breaking .section-grid .admin{
    height: 30px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    margin-top: 33px;
}
.breaking .section-grid .admin .line{
    display: inline-block;
    height: 12px;
    font-size: 20px;
    border-right: 1px solid #777777;
    margin-right: 10px;
    margin-left: 10px;
}

/*Секция What People Say About theHam*/

.WhatHam{
    max-width: 1920px;
    height: 853px;
    margin: auto;
    background-image:url(../images/img/Layer.png);
}
.wrapper{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.WhatHam .text-ham{
    text-align: center;
}
.WhatHam .text-ham h2{
    padding-top: 98px;
    padding-bottom: 25px;
    width: 613px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #FFFFFF;
    margin: auto;
}
.WhatHam .shape1{
    width: 80px;
    height: 1px;
    margin:auto;
    background: #18CFAB;
}
.WhatHam .shape1:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -5px;
    left: 10px;
    width: 76px;
    height: 1px;
    vertical-align: middle;
    background: #18CFAB;
}
.WhatHam .apostr{
    margin-top: 66px;

}
.WhatHam .text-ham p{
    padding-top: 36px;
    width: 1160px;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    margin: auto;
    padding-bottom: 37px;
}

.slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .swiper-slide .bo_img {
    display: block;
    width: 142px;
    height: 143px;
    object-fit: cover;
    border-radius: 50%;
    border: 12px solid  rgb(16,75,74);
    margin-top: 50px;
}

.slider.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.slider .swiper-slide {
    background-size: cover;
    background-position: center;
}

.thumbs-slider {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.thumbs-slider .swiper-wrapper { display: flex; justify-content: center; }

.thumbs-slider .swiper-slide {
    width: 58px !important;
    border-radius: 50%;
    height: 100%;
    opacity: 0.4;
    cursor: pointer;
}

.thumbs-slider .swiper-slide-thumb-active {
    position: relative;
    top: -10px;
    opacity: 1;
}

.swiper-slide .text_hed{
    position: absolute;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 240px;
}
.swiper-slide .text_prof{
    position: absolute;
    height: 42px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #BBBBBB;
    margin-bottom: 170px;
}



.thumbs-slider .swiper-slide .botom_img {
    display: block;
    width: 60px;
    height: 59px;
    box-sizing: border-box;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid  rgb(16,75,74);

}

.thumbs-slider .swiper-button-next{
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    color: #fff;
    cursor: pointer;
    margin-right: 464px;
}

.thumbs-slider .swiper-button-prev {
    width: 34px;
    height: 34px;
    background-color: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
    color: #fff;
    cursor: pointer;
    margin-left: 464px;
}

.thumbs-slider .swiper-button-next:after{
    font-size: 16px;

}
.thumbs-slider .swiper-button-prev:after {
    font-size: 16px;

}
.thumbs-slider .swiper-button-next:hover,
.thumbs-slider .swiper-button-prev:hover{
    background: #18CFAB;

}

/*Секция Gallery of best images*/
.Galleryimages{
    max-width: 1920px;
    height: 1366px;
    background: rgba(0, 0, 0, 0.0001);
    margin: auto;
text-align: center;
}
.text-gallery h2{
    text-align: center;
    padding-top: 95px;
    width: 428px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    margin: auto;
    padding-bottom: 25px;
}
.text-gallery .shape1{
    width: 80px;
    height: 1px;
    margin:auto;
    background: #18CFAB;
}
.text-gallery .shape1:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -5px;
    left: 10px;
    width: 76px;
    height: 1px;
    vertical-align: middle;
    background: #18CFAB;
}
.flex-box{
    padding-top: 87px;
    display: flex;
    max-width: 1160px;
    height: 921px;
    margin: auto;
}
.flex-box1 .box img{
    width: 378px;
    height: 263px;
    margin-bottom: 20px;
    margin-right: 20px;

}
.flex-box2 .box4 img{
    width: 378px;
    height: 380px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.flex-box2 .box5 img{
    width: 378px;
    height: 247px;
    margin-bottom: 20px;
    margin-left: -20px;
}
.flex-box2 .box6 img{
    width: 378px;
    height: 254px;
    margin-left: -20px;
}
.flex-box3 .box7{
    display: flex;
}
.flex-box3 .box7 img{
    width: 180px;
    height: 168px;
    margin-right: 3px;
}
.flex-box3 .box8{
    margin-top: 3px;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    grid-column-gap:3px;
    grid-row-gap: 3px;
}
.flex-box3 .box8 img{
    width: 117px;
    height: 92px;
}
.flex-box3 .box9 img{
    margin-top: 16px;
    width: 363px;
    height: 373px;
}
/*кнопка*/
.Galleryimages .btnload{
    width: 168px;
    height: 63px;
    background: #18CFAB;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 52px;
}
.Galleryimages .btnload span{
    color: #FFFFFF;
    display: flex;
    height: 19px;
    padding-left: 23px;
}
.Galleryimages .btnload p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 15px;
}




/*Секция footer*/
.footer{
    max-width: 1922px;
    height: 121px;
    margin: auto;
    background: #22353F;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer p{
    width: 327px;
    height: 26px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #AEAEAE;
    text-align: center;
    margin: auto;
}
.footer .color{
    color: #18CFAB;
}