.starPage{

   .itemStar{
     display: flex;
     align-items: center;
     margin:auto;
     width: 100%;
     border: 3px solid white;
     padding: 10px;

     img{
       width: 15%;
       height: 100px;
     }
     h2{
       margin-left: 30px;
       font-size: 55px;
     }
     b{
       margin-left: 30px;
       font-size: 30px;
       width: 100px;
     }
     &:hover {
       box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
     }
   }
 }
