main{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item{
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  /*position: relative;*/
  padding-bottom: 20px;
}
main .item img{
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}
main .item img:hover{
  transform: scale(1.05);
}
main h2, main p, main b{
  margin:10px 20px;
  color: #222222;
}
main b{color: #5fa36a}

main .add-to-card{
  border:0;
margin-left: 150px;
  background: burlywood;

  text-align: center;

  color: #000;
  border-radius: 40%;
  cursor: pointer;
  transition: transform 500ms ease;
}
main .add-to-card:hover{
  transform: scale(1) translateY(-5px);
}

.iconStars{
  margin-left: 250px;
}
.iconStars:hover{
  color: #ca5252;
}