.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.title-header .header{
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    padding-bottom: 38px;
    cursor: pointer;
}
.colortext{
    color: #179BD7;
    cursor: pointer;
}
.topnav {
    display: flex;
    box-sizing: inherit;
    justify-content: center;
    background: #35444F;
    flex-grow: 1;
}
.topnav a {
    color: #f2f2f2;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 32px;
    text-decoration: none;
}
.topnav a{
    display: flex;
    border-right: 1px solid #FFFFFF;
}
.topnav a:first-child{
    border-left: 1px solid #FFFFFF;}

.topnav a:hover {
    background-color: #222F3A;;
    color: white;
}

.vertical-menu {
    flex-direction: row;
    width: 344px;
    border: 1px solid #000000;
    margin-right: 48px;
    margin-top: 52px;
    background: rgba(0, 0, 0, 0.0001);
}
.vertical-menu a {
    color: black;
    display: block;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding: 25px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #DBDBDB;
}


.aside-menu {
    display: flex;
    flex-direction: row;
}
.main{
    justify-content: center;
    height: 529px;
    margin-top: 52px;
    display: flex;
    border: 1px solid #000000;
}
.img {
   padding-top: 75px;
    width: 320px;
    height: 381px;
}

.content-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
   color: #2C2C2C;
    margin: 37px 0;
}


.navbar {
    overflow: hidden;
    background-color: rgba(99, 105, 110, 0.48);
    bottom: 0;
    width: 1280px;
    display: flex;

}

.navbar a {
    float: left;
    color: #0C1927;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    padding: 25px;
    display: flex;
}

.navbar a:hover {
    color: #3181A6;
    border-bottom: solid #3181A6;
   padding-top: 1px;
}


.footer-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-left: 135px;
}