.header{
  padding-top: 50px;
  position: relative;
  .logo{
    font-size: 20px;
    font-weight:600;
  }
  .shop-card-button{
    float: right;
    cursor: pointer;
    transition: color 500ms ease;
  }
  .shop-card-button:hover,
  .shop-card-button.active {
    color: red;
    transform: scale(1.5);
  }
}
.presentation{
  margin: 50px 0;
  background-image: url('../../../../../../test/Home3/src/img/logo.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}
.presentation::after{
  content: 'Лучшие мечи для вас';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight:600;
  color: #fff;
}
.presentation::before{
  content: 'по низким ценам';
  position: absolute;
  top: 250px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight:300;
  color: #fff;
}
header .shop-card{
  position: absolute;
  right: 0;
  width: 450px;
  background: #fafafa;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow:4px 5px 15px -7px #606060;
  z-index: 1000;
  padding: 20px;
}
header .shop-card .empty h2 {
  font-size: 20px;

}
header .shop-card .item{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
header .shop-card .item img {
  width: 100px;
  height: 60px;
  float: left;
  margin-right: 20px;
}
header .shop-card .item h2{
  font-size: 20px;
  margin-bottom: 10px;
}
header .shop-card .item b {
  color: #797979;
  font-weight: 600;
}
header .shop-card .item .delete-icon{
  color: #ca5252;
  position: relative;
  top: -20px;
  left: 370px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}
header .shop-card .item .delete-icon:hover {
  color: #ca5252;
  transform:scale(1.5) ;

}
header.shop-card .summa{
  float: left;
  width: 100%;
  font-weight: 600;
  font-size: 2px;
}