.page {
  .form-block {
    padding: 16px;
    border: 2px solid #4f595c;
    border-radius: 4px;
    box-sizing: border-box;

    &:not(:last-child) {
      margin-bottom: 32px;
    }

    legend {
      color: white;
      float: none;
      width: auto;
      text-align: left;
      font-weight: 600;
    }
    .col {
      display: flex;
      margin-bottom: 20px;
    }

    .form-item {
      display: block;
      width: 100%;
    }

    .form-label {
      text-align: left;
      color: white;
      font-weight: 300;
    }

  }
}

.buttonSubmit{
  margin: auto;
  display: flex;
}

