*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.open-btn{
    margin: 10px 20px;
    padding: 20px;
    font-size: 2rem;
    border-radius: 15px;

}
.open-bttn{
    margin: 10px 20px;
    padding: 20px;
    font-size: 2rem;
}
.head{
    background-color: red;
}
.sectionBtn{
    display: flex;
}