.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 560px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;

  .modal-close {
    width: 100%;
    position: absolute;
    right: 0px;
    top: 5px;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    outline: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
  }

  .modal-header {
    margin-bottom: 24px;
    font-size: 36px;
  }

  h4 {
    position: absolute;
    top: -9px;
  }
  p{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 15px;
  }

  .modal-content {}

  .modal-footer {
    margin-top: 24px;
  }

  .button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2d2d2d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

  .btn:hover {
    background-color: #2d2d2d
  }

  .btn:active {
    background-color: #2d2d2d;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
.hedername{
  background-color: #2d2d2d;
  opacity: 1;
  border-radius: 4px;
  min-width: 500px;
  padding: 14px;
  margin-bottom: 10px;
  color: white;
}
