<section class="footer">
    <div class="footer-inform">
        <h2 class="get-text">- get in touch with us -</h2>
        <p class="infor">Maecenas faucibus molli interdum. Cras mattis consectetur purus sitor amet sed donec malesuada ullamcorper odio. Curabitur blandit tempus porttitor vollisky inceptos mollisestor.</p>
        <img src="assets/img/icon/RSS.png" alt="icon">
        <img src="assets/img/icon/Facebook.png" alt="icon">
        <img src="assets/img/icon/Twitter.png" alt="icon">
        <img src="assets/img/icon/Dribbble.png" alt="icon">
        <img src="assets/img/icon/Pinterest.png" alt="icon">

        <div class="contact">
            <a href="#" class="street">Moonshine St. 14-05 Light City <span>/</span></a>
            <a href="mailto:first.last@email.com" class="email">first.last@email.com<span>/</span></a>
            <a href="tel:+00 (123) 456 78 90" class="phone">T. +00 (123) 456 78 90</a>
        </div>
    </div>
</section>
