

    <div class="wrapper">
        <nav>
            <ul>
                <li><a class="item-menu" href="#">HOME</a></li>
                <li><a class="item-menu" href="#">About Us</a></li>
                <li><a class="item-menu" href="#">Our Journal</a></li>
                <li><a class="item-menu" href="#">Projects</a></li>
                <li><a class="item-menu" href="#">news</a></li>
                <li><a class="item-menu" href="#">features</a></li>
                <li><a class="item-menu" href="#">contact</a></li>
            </ul>
        </nav>
    </div>

