
<section class="lateas">
    <div class="inst-blog">

        <div class="section-inst">
            <h2 class="name">- Latest Instagram Shots</h2>
            <p class="name-right">go to our instagram page -</p>
        </div>


        <div class="inst-gr">
            <div class="images">
                <img src="assets/img/inst/post-1.png" alt="photo insta">
            </div>
            <div class="images">
                <img src="assets/img/inst/post-2.png" alt="photo insta">
            </div>
            <div class="images">
                <img src="assets/img/inst/post-3.png" alt="photo insta">
            </div>
            <div class="images">
                <img src="assets/img/inst/post-4.png" alt="photo insta">
            </div>
        </div>
    </div>
</section>