
<section class="Recent">
    <div class="section-our">
        <h2>- our Recent posts</h2>
        <div class="box-our">
            <ul>
                <li class="box-item">
                    <img src="assets/img/recent/dan.jpg" alt="imag1">
                    <div class="text-flex">
                        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
                        <p class="admin">Photography, Journal<span class="line">/</span>9 comments</p>
                        <h4>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h4>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="box-item">
                    <img src="assets/img/recent/hut.jpg" alt="imag2">
                    <div class="text-flex">
                        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
                        <p class="admin">Photography, Journal<span class="line">/</span>9 comments</p>
                        <h4>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h4>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="box-item">
                    <img src="assets/img/recent/photo.jpg" alt="imag3">
                    <div class="text-flex">
                        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
                        <p class="admin">Photography, Journal<span class="line">/</span>9 comments</p>
                        <h4>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h4>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="box-item">
                    <img src="assets/img/recent/signpost.jpg" alt="imag4">
                    <div class="text-flex">
                        <h3>Aenean Adipiscing Etiam Vestibulum</h3>
                        <p class="admin">Photography, Journal <span class="line">/</span> 9 comments</p>
                        <h4>Etiam porta sem malesuada euismod. Aenean leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>