.container .parallax{
    background-image: url(../imag/background1.jpg);
    width: 1366px;
    height: 768px;
    margin: 0 auto;
}
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*animation*/
 @keyframes toUp {
     0%{
         width: 0;
         height: 0;
         background-image: linear-gradient(to top, #f50000, #798b00) ;
         bottom: 0;
         opacity: 0;
     }
     50%{
         bottom: 0;
         opacity: 0;
         width: 150px;
         height: 25px;
         background-color: #f26522;
     }
     100%{
         bottom: 0;
         opacity: 1;
         width: 300px;
         height: 55px;
         background-color: #f26522;
     }
 }



/*Header text*/
.section-header{
    position: relative;
    padding: 36px 0;
}
.text-header1{
    float: left;
}
.text-header1 .logo-text {
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    width: 160px;
    margin-left: 160px;
    margin-bottom: 26px;
    color: #FFFFFF;
}
.text-header1 .logo-text:hover{
    color: #F26522;
}
.text-header1 .logo-text .imag-logo {
    background-image:url("../imag/logo3.png");
    margin-right: 8px;
    width: 53px;
    height: 47px;
}
.text-header1 .logo-text:hover >.imag-logo{
    background-image:url("../imag/logo2.png");
}
.section-header .text{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
}
 .text-holidays{
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
   display: flex;
}

.text-header2{
    float: right;
}
 .text-header2 .email{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    margin-right: 165px;
    margin-bottom: 19px;
     text-decoration: none;
}
.text-header2 .phone{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    margin-left: 68px;
    color: #FFFFFF;
    text-decoration: none;
}
.email:hover{
    color: #F26522;
}
.phone:hover{
    color: #F26522;
}
/* Grid container*/

.grid-imag {
    width: 1030px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 160px;
    grid-column-gap: 62px;
    grid-row-gap: 37px;
}
.grid-imag .imag-style {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 220px;
    background-repeat: no-repeat;
}
.imag-description{
    width: 300px;
    height: 55px;
    background: #F26522;
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
}
.imag-description .text-hidden .desc::after{
    content: '\276F';
    color: #FFFFFF;
    padding-left: 11px;
}
.text-hidden{
    text-decoration: none;
}
.text-hidden .from{
    width: 22px;
    height: 14px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin-top: 7px;
    margin-left: 16px;
    float: left;
}
.text-hidden .price{
    width: 36px;
    height: 14px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 8px;
    margin-left: 16px;
}
.text-hidden .desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    float: right;
    margin-right: 16px;
}
.imag-style .text-name{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
.imag-style{
    border: 3px solid white;
    border-image: linear-gradient( #FFFFFF, #000000) 1;
}
.imag-style:hover .imag-description {
    animation-name: toUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.imag-style:hover .text-name{
    color: #F26522;
}

/*Footer*/
.footer-text a{
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
   display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding-top: 49px;
    width: 306px;
    height: 21px;
    text-decoration: none;
    margin-left: 530px;
}