main{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item{
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  position: relative;
  padding-bottom: 20px;
}
main .item img{
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}
main .item img:hover{
  transform: scale(1.05);
}
main h2, main p, main b{
  margin:10px 20px;
  color: #222222;
}
main b{color: #5fa36a}

main .add-to-card{
  float: right;
  margin-right: 5px;
  background-color: #2d2d2d;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  //margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 15px;
}
main .add-to-card:hover{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.iconStars{
  margin-left: 250px;
}


.iconItem{
  position: absolute;
  font-size: 30px;
  right: 10px;
  bottom: 100px;
  cursor: pointer;
.activStar{
  fill: black;
}
}

