@import "_tools/variables";
@import "_tools/mixins";
@import "_tools/_utilities";

//@import "_base/default";
@import "_base/fonts";
//@import "_base/custom";


@import "_base/header";
@import "_base/instagram";
@import "_base/grid";
@import "_base/footer";
body{
  min-width: 320px;
  max-width: 100%;
  padding-left: 25px;
  padding-right: 25px;
}




