@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*background: white;*/
}
body{
    color: #222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    width: 1200px;
    margin: auto;
    background-image: linear-gradient(100deg,black, white);
}


