.container{
    width: 1280px;
    height: 1626px;
}
.menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
}
.menu .menu-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    align-items: center;
    letter-spacing: 2.7px;
    text-decoration: none;
    padding: 36px;
    color: #FF0000;
}
.img{
    width: 1280px;
    height: 789px;

}
.title{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    align-items: center;
    letter-spacing: 3.3px;
    color: #373737;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 48px;
}
.content-text{
    padding-top: 38px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.text2{
    padding-top: 28px;
}
.button{
    padding-top: 66px;
}
.getbut{
    margin: auto;
    width: 191px;
    height: 51px;
    text-align: center;
    text-decoration: none;
    display: block;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.getbut1{
    background-color: #f44336;
    color: black;
    border: 2px solid white;
}
.getbut1:hover {

    background-color: #f44336;
    color: white;
}
.footer-text {
    text-align: right;
    padding-top: 80px;
    padding-right: 105px;
}
.footext {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}

