body {
    background: url("../imag/fon.jpg") center / cover no-repeat;
    min-height: 100vh;
    overflow: hidden;
}
/*Header title*/

.content-title{
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 58px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background: rgba(0, 0, 0, 0.4);
}
.content-title .logo{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left: 79px;
    margin-right: auto;
}
.logo:hover{
   color: #3CB878;
}
.content-title .logo-right{
    display: flex;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-right: 79px;
}
.content-title .line{
    background: rgba(255, 255, 255, 0.9);
    mix-blend-mode: normal;
    opacity: 0.5;
    width: 1px;
    height: 19px;
    margin-left: 25px;
    margin-right: 27px;
}
.content-title .logo-right a{
    text-decoration: none;
    color: #FFFFFF;
}
.logo-right a:hover{
color: #3CB878;
}
.content-title .sprite svg{
    width: 23px;
    height: 23px;
}
.sprite a{
    margin-left: 24px;
    text-decoration: none;
  }
.sprite a:hover{
    --color1: #3CB878;
}

/*Section log-in*/

.log-in-box{
    position: absolute;
    width: 444px;
    height: 584px;
    top: 114px;
    left: 0;
    bottom: 0;
    right: 0;
    margin:auto;
    background: #FFFFFF center / cover no-repeat;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
    padding-bottom:54px ;
    display: block;
    align-items: center;
    justify-content: center;
}
.header-logo .shape{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 0;
    top: 30px;
    background: #3CB878;
}
.header-logo .sing{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    width: 69px;
    height: 14px;
    position: absolute;
    left:61px;
    top:31px;
    color: #434343;
}
.header-logo .log a{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    width: 39px;
    height: 14px;
    position: absolute;
    top: 38px;
    left: 346px;
    text-decoration: none;

}
.header-logo a:hover {
    color: #01813F;
    text-decoration: underline;
}

/* кнопки */
.button-login {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 30px;
}
/* фейсбук */

.button-fb {

    cursor: pointer;
    height: 48px;
    width: 160px;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    background-color: #305DB8;
    border: 0 solid;
    border-radius: 4px;

}

.button-fb:hover {
    background-color: #022263;
}

.button-icon {
    width: 13px;
    height: 24px;
    margin-left: 18px;
    margin-right: 18px;
}

.fb-line {
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    margin-right: 18px;
}

.button-login a {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    text-decoration: none;
}
/* google */
.button a{
    text-decoration: none;
}
.button-google {
    cursor: pointer;
    height: 48px;
    width: 160px;
    padding: 0;
    display: flex;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    background-color: #DF4A32;;
    border: 0 solid;
    border-radius: 4px;
}
.button-icon-go{
    width: 30px;
    height: 35px;
    margin-left: 18px;
    margin-right: 18px;
}
.button-google:hover {
    background-color: #AB1F09;;
}
.google-line {
    width: 1px;
    height: 28px;
    background-color:  #2B0D09;
    opacity: 0.1;
    margin-right: 18px;
}
.text-line{

    font-size: 14px;
    line-height: 14px;
    color: #848484;
    margin-top:40px ;
    text-align: center;
    white-space: nowrap;
}
.text-line:before,
.text-line:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 152px;
    height: 1px;
    vertical-align: middle;
    background: #F2F2F2;
}
.text-line:before {
    left: -10px;
}
.text-line:after {
    left: 10px;
}
.form-wrap{
    margin-top: 12px;
}
.form-field{
    padding-bottom:15px ;
    border: none;
}
.form-field input{
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    width: 322px;
    height: 46px;
    display: flex;
    justify-content: center;
    margin: 0 auto ;
    outline: 0;
    padding-left:20px;
}
.form-field input::placeholder{
    color: #BEBEBE;

}
.form-field input:focus{
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}

.form-wrap .color{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
color: #3CB878;
}
.form-wrap .color:hover{
    color: #3CB878;
    text-decoration: underline;
    cursor: pointer;
}
.form-checkbox{
    margin-left: 60px;
}
.form-wrap button{
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    margin-left: 60px;
    margin-top:20px ;
    color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    border: 0;
    cursor: pointer;
}
.form-wrap button:hover{
    background: #01813F;
}














