.modal{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}
.modal.active{
  opacity: 1;
  pointer-events: all;
}
.modal__content{
  /*padding: 20px;*/
  border-radius: 12px;
  background-color: wheat;
  transform: scale(0.5);
  transition: 0.4s all;
  min-width: 50px;


}
.modal__content.active{
  transform: scale(1);
}
.hedername{
  background-color: white;
  opacity: 1;
  border-radius: 12px;
  min-width: 100px;
  padding: 30px;
  margin-bottom: 10px;
  color: black;
}
.text{
  background-color: white;
  opacity: 0.8;
  padding: 15px;
  color: white;
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
.ok{
  background-color: white;
  padding: 10px;
  border-style: none;
  width: 70px;
  cursor: pointer;

}
.cancel{
  background-color: white;
  padding: 10px;
  margin-left: 60px;
  border-style: none;
  width: 70px;
  cursor: pointer;
}
.icon{
  padding-left: 10px;
  cursor: pointer;
}
.ok:hover{
  background-color: burlywood;
  color: cornsilk;
}
.cancel:hover{
  background-color: burlywood;
  color: cornsilk;
}