@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body {
     background-image: url("../imag/stars.jpg");
     overflow: hidden;
     font-family: 'Roboto', sans-serif;
     margin: 45% 0 0 0;
     position: relative;

}
body::after {
     content: '';
     position: fixed;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     width: 100%;
     height: 50%;
     background: linear-gradient(180deg, rgba(20,20,20,1) 40%, rgba(20,20,20,0) 100%);
}
.audio{
     position: fixed;
     top: 450px;
     opacity: 0.5;
}
.logo img{
     content: url("../imag/starwars-logo.png");
     position: fixed;
     bottom: 0;
     width: 100%;
     opacity: 0.3;
}
.wrapper {
     display: flex;
     height: 10%;
     width: 60%;
     margin: 0 auto;
     perspective: 200px;
}
.scroll-text {
     color: #ffc909;
     font-size: 3vw;
     line-height: 1.5em;
     font-weight: bold;
     text-align: justify;
     position: relative;
     animation: scroll 30s linear forwards infinite;
}
h1,h2 {
     text-align: center;
}


@keyframes scroll {
     from { top: 0; transform: translateZ(0) rotateX(20deg); }
     to { top: -6500px; transform: translateZ(-2500px) rotateX(21deg); }
}
