.container{
    width: 1460px;
    margin: 0 auto;
    background: #171717;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 192px;
}

/*Section-header*/
.logo ul{
    padding-top: 46px;
    display: flex;
}
.logo-inf{
    width: 216px;
    height: 33px;
}
.phone{
    width: 163px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    color: #D6AF76;
    text-decoration: none;
    margin-left: 864px;

}
.color-number{
color: white;
}
.border{
    text-decoration: none;
    width: 218px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
    border: 1px solid #E4B564;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 39px;
}

/*Section number1*/
.grid-section{
    display: grid;
}
.grid-section .text1{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 207px;
}
.grid-section .text2{
    width: 1182px;
    height: 56px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    margin-top: 41px;
}
.grid-section .grid{
    display: grid;
    grid-template-columns: repeat(6, 3fr);
    grid-column-gap:34px;
    grid-row-gap: 27px;
    margin: 41px 0 161px;

}
.grid-section .grid-item{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 468px;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: white;
    text-align: center;
}
.grid-section .grid-item1{
    background: #634F2C;
    grid-column: 1/3;
}
.grid-section .grid-item2{
    background: #B4A385;
    grid-column: 3/5;
}
.grid-section .grid-item3 {
    background: #E4B564;
    grid-column:5/7;
}
.grid-section .grid-item4{
    background: #635A4A;
    grid-column: 1 /4;
}
.grid-section .grid-item5{
    background: #B08C4D;
    grid-column: 4/7;
}

/*Section number2*/
.flex h2{
    width: 977px;
    height: 28px;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
    padding-bottom: 94px;
}
.flex-box{
    display: flex;
}
.flex-box1{
margin-right: 30px;
}
.flex-box2{
margin-right: 30px;
}
.flex .box{
    width: 415px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding-left: 52px;
    padding-top: 44px;
}
.box1{
    color: #FFFFFF;
    background: #0E0E0E;
    height: 313px;
    margin-bottom: 24px;

}
.box2{
    color: #FFFFFF;
    background: #242424;
    height: 439px;
    margin-bottom: 33px;
}
.box3 {
    color: #FFFFFF;
    background: #1F1F1F;
    height: 235px;
    margin-bottom: 26px;
}
.box4{
    color: #FFFFFF;
    background: #1F1F1F;
    height: 550px;
}
.box5{
    color: #000000;
    background: #E4B564;
    height: 405px;
}
.box6{
    color: #FFFFFF;
    background: #0E0E0E;
    height: 300px;
    margin-bottom: 26px;
}
.box7{
    color: #FFFFFF;
    background: #0A0909;
    height: 255px;
}

/*Section number3*/
.partners{
    width: 1460px;
    margin: 0 auto;
    background: #0E0E0E;
    padding-left: 230px;
    padding-right: 230px;

}
.partners-text{
    padding-top: 172px;
    display: flex;
    padding-bottom: 72px;
}
.partners-text h2{
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}
.partners-text ul {
    border: 1px solid #E4B564;
    box-sizing: border-box;
    width: 180px;
    height: 50px;
    display: flex;
    text-decoration: none;
    justify-content:center;
    align-items: center;
margin-left: 680px;

}
.partners-text a{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    width: 101px;
    height: 30px;
    color: #E4B564;
    text-decoration: none;
}
.rectangle-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.rectangle-grid .grid-item {
    width: 487px;
    height: 391px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle-grid .grid-item1{
    background: #634F2C;
}
.rectangle-grid .grid-item3{
    background: #E4B564;
}
.rectangle-grid .grid-item4{
    background: #635A4A;
}
.rectangle-grid .grid-item5{
    background: #B08C4D;
}
.rectangle-grid .grid-item6{
    background: #634F2C;
}
.rectangle-grid .grid-item2{
    flex-direction: column;
    text-align: center;
    background: rgba(232, 210, 171, 0.76);
}
.grid-item2 .imag1 {
    width: 62px;
    height: 55px;
}
.grid-item2 .imag2 {
    width: 139px;
    height: 55px;
}
.grid-item2 .text{
    width: 326px;
    height: 140px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
}

.footer-container {
    padding-top: 240px;
    width: 1460px;
    background: #171717;
    margin: 0 auto;
    padding-left: 230px;
    padding-right: 230px;
}




















