.headerUp{
  position: relative;
  height: 50px;
  display: flex;
  border: white;
  border-style: double;
  border-width: 10px;
  border-radius: 10px;
  top: 20px;


}
.icon-favorite{
  position: absolute;
  right: 10px;
  top: 10px;
  .basket{
    position: absolute;
    right: 39px;
    top: -4px;
    font-size: 20px;
    font-weight: 600;
  }
   .troll {
     position: absolute;
     right: 10px;
     top: 30%;
   }
    .count {
      position: absolute;
      top: -5px;
      right: 0;
      font-size: 10px;
    }
      &:hover {
        color: #fff;
        cursor: pointer;
      }
    }
.favorites{
  position: absolute;
  right: 10px;
  top: 10px;
  .star {
    position: absolute;
    right: 170px;
    top: 30%;
  }
  .starBasket{
    font-weight: 600;
    position: absolute;
    right: 200px;
    top: -4px;
    font-size: 20px;
  }
  .counts {
    position: absolute;
    top: -5px;
    right: 165px;
    font-size: 10px;
  }
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}
.logo{
  left: 10px;
  position: absolute;
  min-width: 25px;
  font-size: 20px;
  font-weight:600;
  top: 13%;
  color: white;

  }
.button {
  top: 40%;
  right: 10px;
  position: absolute;
  min-width: 25px;
  background-color: #8a0303;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 15px;
}

.button2:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.presentation{
  margin: 50px 0;
  background-image: url(https://st2.depositphotos.com/2389277/5683/i/950/depositphotos_56834629-stock-photo-muscular-man-holding-ancient-sword.jpg);
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}
.presentation::after{
  content: 'Лучшие мечи для вас';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight:600;
  color: #fff;
}
.presentation::before{
  content: 'по низким ценам';
  position: absolute;
  top: 250px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight:300;
  color: #fff;
}







