.basketPage{


.itemBasket{
display: flex;
  align-items: center;
  margin:auto;
  width: 100%;
  border: 3px solid white;
  padding: 10px;
  .counter{
    margin-left: 130px;
    display: flex;
    input{

      border: none;
      text-align: center;
      width: 32px;
      font-size: 40px;
      color: #43484D;
      font-weight: 300;
    }

    .plus{
      margin-right: 15px;
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #999999;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #000000;

      &:active {
        background-color: #000000;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    }
    .minus{
      margin-left: 15px;
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: #fff;
      background-color: #999999;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #000000;

      &:active {
        background-color: #000000;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }
    }

  }
  img{
    width: 15%;
    height: 100px;
  }
  h2{
    margin-left: 30px;
    font-size: 55px;
  }
  b{
    margin-left: 30px;
    font-size: 30px;
    width: 100px;
  }
  .buttonClick{
    font-size: 50px;
    margin-right: 51px;
    cursor: pointer;
  &:hover{
    background-color: white;
    border-radius: 15px;
  }}

  .buy{
    background-color: #000000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 130px;
    cursor: pointer;
    transition-duration: 0.4s;

  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }}
  &:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
}
}
