.footer-inform{
  width: 100%;
  background: #000000;
  margin: auto;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-top: 66px;
    width: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #FEFEFE;
    margin:auto;
  }
  p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-top: 22px;
    padding-bottom: 48px;
    margin: auto;
    width: 53%;
    color: #B9B9B9;
  }
  .contact{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding-top: 34px;
    margin: auto;
    width: 99%;
    color: #B9B9B9;
    padding-bottom: 70px;
    span{
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}
@media screen and (max-width: 320px) {
  .box-item {display: block;
    .text-flex h4{
      display: none;
    }
  }
}
@media screen and (max-width: 320px) {
.footer-inform p{
  width: 100%;
}}