.section-our{
    width: 100%;
    margin: auto;
  ul{

      margin: auto;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 24px;
    padding-top: 66px;
    width: 190px;
    height: 22px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #4E4E4E;

  }
}
.box-our {
  display: flex;
  flex-wrap: wrap;
  grid-row-gap: 32px;
  padding-bottom: 69px;

  .box-item{

    img{
      margin-right: 21px;
      width: 150px;
      height: 140px;
    }
  }
  .text-flex {
    h3 {
      font-family: 'Roboto', sans-serif;
      width: 295px;
      height: 30px;
      align-items: center;
      color: #4E4E4E;
      font-weight: 700;
      font-size: 16px;
      line-height: 30px;
    }
    p{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      width: 233px;
      height: 20px;
      display: flex;
      align-items: center;
      color: #7C7C7C;
    .line{
      margin-left: 5px;
      margin-right: 5px;
    }
    }
    h4{
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      width: 404px;
      height: 40px;
      display: flex;
      align-items: center;
      color: #5C5C5C;
    }
  }
}

@media screen and (max-width: 320px) {
  .box-item {display: block;
    .text-flex h4{
      display: none;
    }
  }
}
