.imag{
  .imag-header{
    width: 100%;
    margin: auto;
  }
}
.container {

  max-width: 1170px;
  margin: 0 auto;
  padding: 0 25px;
}


.header__body {
  display: flex;
  justify-content: center;
  align-items: center;
  // height: 55px;
  padding: 30px 0 34px 0;
  @media (max-width: 1199px) {
    padding: 22px 0 28px 0;
  }
  @media (max-width: 767px) {
    padding: 22px 0;
    height: 36px;
  }

  .header__burger {
    display: none;
    @media (max-width: 767px) {
      display: block;
      right: 25px;
      position: absolute;
      width: 44px;
      height: 36px;
      background-color: #000000;
      &::before,
      &::after {
        content: "";
        position: absolute;
        background-color: #ffffff;
        width: 16px;
        height: 2px;
        left: 14px;
        transition: all 0.3s ease 0s;
      }
      &::before {
        top: 12px;
      }
      &::after {
        top: 20px;
      }
      span {
        position: absolute;
        left: 14px;
        width: 16px;
        height: 2px;
        top: 16px;
        background-color: #ffffff;
        transition: all 0.3s ease 0s;
      }
    }
  }

}
  .header__burger.active {
    &::before {
      transform: rotate(45deg);
      top: 16px;
    }
    &::after{
      transform: rotate(-45deg);
      top: 16px;
    }
    span {
      transform: scale(0);
    }
  }

.header__menu {
  @media (max-width:767px) {
    z-index: 3;
  }
  .menu__list {
    display: flex;
    margin: 0;

    @media (max-width:767px) {
      display: block;
      padding: 0;
      width: 182px;
      top: -100%;
      right: 25px;
      position: absolute;
      background-color: #f5f5f5;

    }
    .menu-item {
      list-style: none;
      text-decoration: none;
      padding: 0 34px;

      @media (max-width:1199px) {
        padding: 0 14px;
      }
      @media (max-width:767px) {
        padding: 4px 12px;
        &:hover {
          background-color:#E5E5E5;
        }
      }
      .menu-link {
        font-weight: 400;
        color: black;
        font-size: 11px;
        line-height: 2;
        text-decoration: none;
        text-transform: uppercase;
      }
      .menu-link.active {
        color: #57A4A4;
      }
    }
  }
}
.header__menu.active {
  @media (max-width:767px) {
    top: 60px;
    right: 0;
    position: absolute;
  }
}

