.inst-blog{
  width: 100%;
  margin: auto;
  background-color: #f7f7f7;

.section-inst{
  padding-top:47px;
  padding-bottom: 24px;
  display: flex;
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
.name{
  min-width: 217px;
  height: 22px;
  display: block;
  align-items: center;
  text-transform: uppercase;
  color: #4E4E4E;
}
  .name-right{
    margin-left: auto;
    text-transform: uppercase;
    color: #4E4E4E;
  }
}
  .inst-gr{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: center;
    .images{
      width: 100%;
      box-sizing: border-box;
      flex: 1 1 239px;
      padding-bottom: 10px;
      padding-right: 5px;
      padding-left: 5px ;
      display: block;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
@media screen and (max-width: 767px){
  .photo3 img {display: none;}
  .photo2 img {display: none;}
}

@media screen and (max-width: 768px) {
  .photo4 img {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .name-right {display: none;}
}

