/*<!--секция header-menu-->*/
.header-menu .container {
    position: relative;
    margin:auto;
    background-image: url(../img/Layer.jpg);
    height: 596px;
}
.container{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-form{
    position: relative;
  background: #FFFFFF;
    height: 113px;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
}
.header-form p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    margin-left: 202px;
    margin-right: auto;

}
.header-form .color {
    color: #14AFCA;
}
.header-form ul{
   display: flex;
    margin-right: 174px;
    margin-left: auto;

}
.header-form .item-menu{
    text-decoration: none;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 1px;
    margin-right: 30px;
}
.header-form .item-menu:hover{
     color: #14AFCA;
 }
.text-header h2{
    position: relative;
    height: 145px;
    width: 996px;
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    line-height: 75px;
     display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 149px;
    margin: 0 auto;
}
.imag-holder img{
    position: relative;
    margin: auto;
}


/*Секция what?*/
.what{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}
.section-what{
   padding-top: 122px;
    margin: auto;
}
.section-what h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 40px;
    color: #14AFCA;
    margin-bottom: 35px;
}
.section-what h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    color: #424F57;
    margin-bottom: 10px;
}
.section-what p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    width: 992px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #424F57;
    margin-bottom: 90px;
}


/*секция Companies*/
.companies .parallax-companies{
position: relative;
    height: 600px;
    margin: 0 auto;
    background-image: url(../img/bg2.jpg);
    text-align: center;
}
.parallax-companies{
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.imag-text img{
    position: relative;
    color: #FFFFFF;
    width: 100%;
}
.imag-text h2{
    padding-top: 43px;
    position: relative;
    width: 364px;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
     display: flex;
    align-items: center;
    text-align: center;
    color: #14AFCA;
    margin: auto;
}
.imag-text h3{
    position: relative;
    width: 506px;
    height: 75px;
   font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: auto;
}
.imag-companies{
    position: relative;
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    margin:auto;
    padding-left: 208px;
    padding-right: 208px;
}
.imag-companies .img-item{
    text-align: center;
}
.imag-companies img{
    width: 176px;
    height: 89px;
    padding: 20px;
}
.companies .parallax-companies::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.8;
}

/*Секция MEET US*/

.section-Meet h2{
    padding-top: 52px;
    width: 364px;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #14AFCA;
    margin: auto;
}
.section-Meet h3{
    width: 506px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 1px;
    color: #424F57;
    margin: auto;
}

.flex-people{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-bottom: 100px;
}
.flex-people img{
    height: 206px;
    margin-left: 50px;
}
.flex-people p{
    margin-left: 50px;
    width: 309px;
    height: 99px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    color: #171717;
}
/*Секция  Testimonials*/
.Testi .parallax-Testi{
    position: relative;
    height: 600px;
    margin:auto;
    background-image: url(../img/2.jpg);
}
.parallax-Testi{
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-Testi img{
    position: relative;
    color: #FFFFFF;
    width: 100%;
}

.section-Testi h2{
    position: relative;
    padding-top: 52px;
    width: 364px;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #14AFCA;
    margin: auto;
}
.section-Testi h3{
    position: relative;
    width: 506px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 1px;
    color: #FFFFFF;
    margin: auto;
}
.section-Testi p{
    position: relative;
    width: 907px;
    height: 45px;
    font-family: 'OpenSans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.8px;
    color: #D3CCCC;
    margin: auto;
    text-align: center;
    padding-top: 48px;
}
.section-Testi .text-name{
    position: relative;
    width: 166px;
    height: 37px;
    font-family: 'OpenSans', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #FFFFFF;
    padding-left: 570px;
}

/*Секция Why?*/
.section-Why h2{
    position: relative;
    padding-top: 52px;
    width: 364px;
    height: 75px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    text-align: center;
    color: #14AFCA;
    margin: auto;
}
.section-Why h3{
    position: relative;
    width: 506px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 1px;
    color: #171717;
    margin: auto;
}

.section-Why p{
    width: 816px;
    height: 92px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    line-height: 48px;
margin: auto;
    color: #424F57;
    text-align: center;
}

/*<!--Секция Footer-->*/
.footer .down-text{
        width: 415px;
        height: 60px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
       margin: auto;
        color: #3D3C3C;
    padding-top: 96px;
}
.footer .down-text span{
    color: #171717;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
}






