@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #fff;
  color: #222;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.wrapper{
  width: 1280px;
  margin: 50px auto;
}
header{
  position: relative;
}
.open-btn{
  margin: 10px 20px;
  padding: 20px;
  font-size: 2rem;
  border-radius: 15px;

}
.open-bttn{
  margin: 10px 20px;
  padding: 20px;
  font-size: 2rem;
}

header span.logo{

  font-size: 20px;
  font-weight:600;
}

header ul.nav {
  float: right;
  list-style: none;
}
header ul.nav li {
display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: opacity 500ms ease;
}
header ul.nav li:hover{
opacity: 0.5;
}
header .shop-card-button{
  float: right;
  cursor: pointer;
  transition: color 500ms ease;
}
header .shop-card-button:hover,
header .shop-card-button.active {
color: red;
  transform: scale(1.5);
}
header .shop-card{
  position: absolute;
  top: 30px;
  right: 0;
  width: 450px;
  background: #fafafa;
  -webkit-box-shadow: 4px 5px 15px -7px #606060;
  box-shadow:4px 5px 15px -7px #606060;
  z-index: 1000;
  padding: 20px;
}
header .shop-card .empty h2 {
  font-size: 20px;

}
header .shop-card .item{
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
header .shop-card .item img {
  width: 100px;
  height: 60px;
  float: left;
  margin-right: 20px;
}
header .shop-card .item h2{
  font-size: 20px;
  margin-bottom: 10px;
}
header .shop-card .item b {
  color: #797979;
  font-weight: 600;
}
header .shop-card .item .delete-icon{
  color: #ca5252;
  position: relative;
  top: -20px;
  left: 370px;
  cursor: pointer;
  transition: color, transform 500ms ease;
}
header .shop-card .item .delete-icon:hover {
color: #ca5252;
  transform:scale(1.5) ;

}
header.shop-card .summa{
  float: left;
  width: 100%;
font-weight: 600;
  font-size: 2px;
}
.presentation{
  margin: 50px 0;
  background-image: url('!img/logo.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  background-color: #bcbcbc;
  position: relative;
}
.presentation::after{
  content: 'Лучшие товары для вас';
  position: absolute;
  top: 100px;
  left: 50px;
  width: 300px;
  font-size: 40px;
  font-weight:600;
  color: #fff;
}
.presentation::before{
  content: 'по низким ценам';
  position: absolute;
  top: 250px;
  left: 50px;
  width: 300px;
  font-size: 15px;
  font-weight:300;
  color: #fff;
}


.buttons{
  display: flex;
}
.styleBtn{
  cursor: pointer;
}

main{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.item{
  width: 30%;
  margin-bottom: 50px;
  background: #f5f5f5;
  overflow: hidden;
  /*position: relative;*/
  padding-bottom: 20px;
}
main .item img{
  width: 100%;
  height: 70%;
  border-radius: 10px 10px 0 0;
  transition: transform 500ms ease;
}
main .item img:hover{
  transform: scale(1.05);
}
main h2, main p, main b{
  margin:10px 20px;
  color: #222222;
}
main b{color: #5fa36a}

main .add-to-card{
  border:0;
  margin-left: 330px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 500ms ease;

}
main .add-to-card:hover{
  transform: scale(1.5) translateY(-5px);
}
footer{
  text-align: center;
  margin-top: 100px;
}
.iconStars{
  margin-left: 250px;
}
.iconStars:hover{
  color: #ca5252;
}
