.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}
.title-header .header{
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    padding-bottom: 38px;
    cursor: pointer;
    margin: 0 auto;
}
.color-text{
    color: #179BD7;
    cursor: pointer;
}
.header-menu ul {
    display: flex;
    box-sizing: inherit;
    justify-content: center;
    background: #35444F;
    flex-grow: 1;
    list-style: none;
}
.item-menu {
    color: #f2f2f2;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    padding: 32px;
    text-decoration: none;
}
.item-menu{
    display: flex;
    border-right: 1px solid #FFFFFF;
}
.item-menu:first-child{
    border-left: 1px solid #FFFFFF;}
.item-menu:hover {
    background-color: #222F3A;;
    color: white;
}
.menu-content{

}
.aside-left ul {
    list-style: none;
    padding-left: 0;
    flex-direction: row;
    width: 344px;
    border: 1px solid #000000;
    margin-right: 48px;
    margin-top: 52px;
    background: rgba(0, 0, 0, 0.0001);

}
.menu-item {
    color: black;
    display: block;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    padding: 25px;
    text-decoration: none;
}
.aside-left ul :hover {
    background: #DBDBDB;;
}
.menu-content{
    display: flex;
    flex-direction: row;
}






.section-right{

}
.image-item{
    justify-content: center;
    height: 529px;
    margin-top: 52px;
    display: flex;
    border: 1px solid #000000;
}
.img {
    padding-top: 75px;
    width: 320px;
    height: 381px;
}
.content-text{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    margin: 37px 0;
}
.footer-menu{

}
.section-down ul {
    overflow: hidden;
    background-color: rgba(99, 105, 110, 0.48);
    bottom: 0;
    width: 1280px;
    display: flex;
    list-style: none;
}
.section-down .menu-down {
    float: left;
    color: #0C1927;
    text-align: center;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    text-decoration: none;
    padding: 25px;
    display: flex;
}
.section-down .menu-down:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
}
.footer-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    padding-left: 135px;
}





















